@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

li {
  list-style: none;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  line-height: 1.625;
  margin: 16px 0;
}

h3 {
  /* feature titles */
  font-size: 24px;
}

h4 {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.5;
}

img {
  width: 100%;
}

button {
  font-size: 14px;
  font-weight: 700;
  background-color: #6415ff;
  color: #fff;
  border-radius: 500px;
  border: none;
  padding: 12px 32px;
  transition: all 300ms ease;
}
button:hover {
    cursor: pointer;
}

.quality__btn:hover,
.value__btn:hover,
.start__btn:hover {
  background-color: rgba(80, 17, 204);
}

a {
  display: inline;
  text-decoration: none;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  padding-top: 32px;
  max-height: 92px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.logo {
  height: 100%;
  display: flex;
}

.nav__logo--name {
  font-size: 24px;
  color: #243e63;
  font-weight: 900;
  letter-spacing: 0.6px;
  margin-left: 12px;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__links {
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding-top: 4px;
  margin: 0 24px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: border-bottom 300ms ease;
}
.nav__link:hover {
  color: #6415ff;
}
.nav__link:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms;
  opacity: 0;
}
.nav__link:hover:after {
  opacity: 1;
}

.nav__link--account::after {
    content: "";
    width: 0;
    height: 0;
}

.nav__link--account {
  color: #fff;
  background-color: #6415ff;
  padding: 12px 32px;
  margin: 0;
  margin-top: 2px;
  border-radius: 500px;
  border: none;
}
.nav__link--account:hover {
  background-color: rgba(80, 17, 204);
  border-bottom: none;
}

.nav__link.login {
  margin: 0 24px 0 48px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

header {
  position: relative;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 41.6667%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.header__description--para {
  color: #243e63;
  margin: 32px 0;
}

.header__email {
  /* half figure out, half copied, revisit */
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  /* copied */
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99); /* FIX ISSUE WITH COLOR */
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}
.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--btn {
  /* copied */
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}

.header__customers--title {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  margin-top: 80px;
  letter-spacing: 0.6px;
}

.header__customers--img {
  opacity: 0.5;
  padding-right: 128px;
  margin-top: 16px;
}

.header__img--wrapper {
  width: calc(100% - 41.6667%);
}

.header__img {
  max-width: 768px;
}

.header__blob {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.05;
  width: 256px;
  height: 256px;
  transform: matrix(1, 0, 0, 1, -163, 0);
}

/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title,
.pricing__title {
  text-align: center;
}

.features__para {
  max-width: 576px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
}

.features__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: auto;
}

.feature__description {
  margin: 8px 0 0 16px;
}

.feature__para {
  font-size: 16px;
  margin-top: 16px;
}

.features__blob {
  transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 16rem;
  opacity: 0.25;
  padding: 16px;
}

/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality__title {
  line-height: 1.25;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__description {
  max-width: 576px;
  margin-right: 64px;
}

.quality__btn {
  margin-top: 32px;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  margin: 0 56px;
  display: flex;
  position: relative;
  z-index: 2;
}

.quality__img {
  z-index: 1;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

/* 

STEPS ↓

*/

#steps {
  position: relative;
}

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper,
.steps__description {
  width: 50%;
}

.steps__img--wrapper {
  display: flex;
  position: relative;
}

.steps__img {
  z-index: 2;
}

.steps__grid {
  position: absolute;
  opacity: 0.15;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  fill: rgba(100, 21, 255);
  z-index: 1;
}

.steps__description {
  padding: 32px 0 32px 64px;
}

.step {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__description {
  max-width: 320px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__img,
.values__description {
  width: 50%;
}

.values__description {
  padding: 32px 64px 32px 0;
}

.values__title {
  margin: 16px 0 32px 0;
}

.values__list {
  display: flex;
}

.value {
  margin-top: 32px;
}
.value:nth-child(1) {
  margin-right: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__img--wrapper {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}
.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}

.value__img {
  width: 20px;
  height: 20px;
}

.value__name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-left: 12px;
}

.value__para {
  font-size: 16px;
  margin-top: 16px;
}

.value__btn {
  margin-top: 48px;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__para {
  max-width: 576px;
  text-align: center;
}

.plans {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan {
  width: 100%;
  max-width: 384px;
  margin: 64px 32px 0 0;
  padding-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: relative;
  background: #fff;
}

.plan__color-strip {
  width: 100%;
  height: 8px;
  top: 0;
  left: 0;
  position: absolute;
}

.plan:nth-child(1) .plan__color-strip,
.plan:nth-child(1) .plan__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__btn {
  width: 100%;
  max-width: 192px;
  line-height: 1.5;
  letter-spacing: 0.7px;
  padding: 16px 32px;
}

.plan__btn:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__top,
.plan__middle,
.plan__bottom {
  padding: 32px;
  text-align: center;
}

.plan__type,
.plan__price,
.plan__duration {
  font-weight: 700;
  line-height: 1.625;
}

.plan:nth-child(odd) .plan__type,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__type {
  font-size: 20px;
}
.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 1.6px;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.plan__feature {
  font-size: 16px;
  font-weight: 500;
  color: #718096;
  line-height: 1.5;
  margin-top: 20px;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__type,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__btn {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan:nth-child(3) .plan__color-strip,
.plan:nth-child(3) .plan__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

.testimonials__img,
.testimonials__description {
  width: 50%;
}

.testimonials__description {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
}

.testimonial {
  margin-top: 40px;
}

.testimonial__rating i {
  color: rgba(246, 173, 85);
  margin-right: 2px;
  margin-top: 4px;
}

.testimonial__title,
.testimonial__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #243e63;
}

.testimonial__title {
  margin-top: 16px;
}

.testimonial__para {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #4a5568;
  margin: 16px 0 40px 0;
}

.testimonial__profile--list {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__img {
  width: 80px;
  border-radius: 50%;
}

.testimonial__person {
  margin-left: 24px;
}

.testimonial__job {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__btns {
  display: flex;
  align-items: center;
}

.testimonial__btn svg {
  width: 16px;
  height: 16px;
}

.testimonial__btn {
  width: 48px;
  height: 48px;
  background: #edf2f7;
  border-radius: 50%;
  padding: 16px;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial__btn:hover {
    background-color: rgba(226, 232, 240);
}

.testimonial__btn-divider {
  width: 1px;
  height: 24px;
  background: rgb(229, 231, 235);
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

.start__blob--1 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
  width: 320px;
  height: 320px;
  z-index: 1;
  opacity: 0.5;
}

.start__blob--2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(80px) translateY(-256px);
  width: 320px;
  height: 320px;
  z-index: 1;
  opacity: 0.5;
}

.start__container {
  width: 100%;
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
  padding: 96px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__row {
  width: 100%;
  max-width: 1024px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start__title,
.start__btns {
  width: 50%;
}

.start__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  z-index: 2;
}

.start__btns {
  display: flex;
  justify-content: flex-end;
}

.start__btn {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #f7fafc;
  padding: 20px 40px;
  margin: 1px;
  z-index: 2;
}

.start__btn:nth-child(1) {
  background: #f56565;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-right: 32px;
}
.start__btn:nth-child(1):hover {
  background-color: rgba(229, 62, 62);
}

.start__btn:nth-child(2) {
  border: 1px solid rgb(160, 174, 192);
}
.start__btn:nth-child(2):hover {
  background-color: rgba(247, 250, 252);
  color: rgba(100, 21, 255);
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

.footer__blob--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  transform: translateX(-80px) translateY(-128px);
  z-index: 1;
  opacity: 0.5;
}

.footer__blob--2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 320px;
  transform: translateX(128px) translateY(192px);
  z-index: 1;
  opacity: 0.5;
}

.footer__groups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.footer__group--title {
  color: #f7fafc;
  font-weight: 700;
  line-height: 1.5;
}

.footer__group--link:nth-child(2) {
  margin-top: 24px;
}

.footer__group--link {
  color: #f7fafc;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 12px;
  position: relative;
  cursor: pointer;
}

.footer__group--link:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: all 300ms ease;
  opacity: 0;
}

.footer__group--link:hover:after {
  opacity: 1;
}

.footer__divider {
  background: rgb(116, 44, 255);
  width: 100%;
  height: 2px;
  margin: 64px 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--container {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 32px;
  height: 32px;
}

.footer__logo--name {
  color: #f7fafc;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 8px;
}

.footer__copyright {
  color: #cbd5e0;
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social--link {
  background: #f7fafc;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}

.footer__social--link:not(:first-child) {
  margin-left: 16px;
}

.footer__social--link svg {
  width: 16px;
  height: 16px;
}
.footer__social--link:hover {
  background-color: rgba(203, 213, 224);
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }

  h1 {
    font-size: 36px;
  }

  .header__img {
    max-width: 512px;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__customers--img {
    padding-right: 64px;
  }

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .header__img {
    max-width: 512px;
  }

  .testimonials__img {
    width: 41.6667%;
  }

  .testimonials__description {
    width: calc(100% - 41.6667%);
  }
}

/*
LAPTOPS
*/

@media (max-width: 1024px) {
  .nav__menu {
    display: none;
  }
  .btn__menu {
    padding: 0;
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .header__description,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__description--para {
    margin: 20px 0;
  }

  .header__customers--img {
    padding-right: 0px;
  }

  .features__title,
  .pricing__title {
    font-size: 48px;
  }

  .features__list {
    max-width: 768px;
  }

  .feature {
    width: calc(50%);
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0 16px;
  }

  h3 {
    line-height: 1;
  }

  .feature__para {
    max-width: none;
  }

  .quality__description {
    padding-right: 48px;
    margin-right: 0px;
  }

  .quality__title {
    line-height: 1.25;
  }

  .values__list {
    flex-direction: column;
    max-width: 320px;
  }

  .value {
    margin-top: 40px;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-right: 0px;
  }

  .plan__bottom {
    padding: 32px 64px;
  }

  .testimonials__description {
    padding-left: 48px;
  }

  .start__row {
    flex-direction: column;
  }

  .start__title {
    width: 100%;
    max-width: 512px;
    text-align: center;
  }

  .start__btns {
    width: auto;
    margin-top: 24px;
  }

  .start__btn {
    padding: 16px 32px;
  }

  footer {
    padding: 80px 32px;
  }
}

/*
TABLETS, LARGE SMARTPHONES
*/

@media (max-width: 768px) {
  p {
    font-size: 14px;
  }

  .features__list {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .quality__description,
  .quality__img--wrapper,
  .steps__description,
  .steps__img--wrapper,
  .values__description,
  .values__img,
  .testimonials__description,
  .testimonials__img {
    width: 100%;
    max-width: 448px;
  }

  .quality__description,
  .steps__description,
  .values__description,
  .testimonials__description {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    margin-top: 12px;
    margin-left: 0px;
  }

  .values__list {
    margin: 0 auto;
  }

  .value:nth-child(1) {
    margin-right: 0px;
  }

  #pricing .row {
    margin-top: 40px;
  }

  .testimonials__description {
    padding-left: 0px;
  }

  .footer__groups {
    justify-content: flex-start;
  }

  .footer__group {
    width: calc(100% / 3);
  }

  .footer__group:nth-child(4),
  .footer__group:nth-child(5) {
    margin-top: 48px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright,
  .footer__socials {
    margin-top: 32px;
  }

  .footer__socials {
    margin-left: 0px;
  }
}

/*
SMALL PHONES
*/

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }

  h2 {
    font-size: 30px;
  }

  button {
    line-height: 1.5;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    line-height: 1.5;
    padding: 16px 0 16px 32px;
    position: static;
  }

  .header__email--btn {
    width: 100%;
    line-height: 1.5;
    padding: 16px 0;
    margin: 16px 0 0 0;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.7px;
  }

  .features__title,
  .pricing__title {
    font-size: 36px;
  }

  .testimonial__profile--list {
    padding-top: 4px;
    flex-direction: column;
    align-items: center;
  }

  .testimonial__profile {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__img {
    width: 64px;
    height: 64px;
  }

  .testimonial__person {
    margin: 8px 0 0 0;
  }

  .testimonial__btns {
    margin-top: 32px;
  }

  .start__container {
    padding: 80px 0;
  }

  .start__title {
    font-size: 24px;
  }

  .start__btns {
    flex-direction: column;
  }

  .start__btn {
    padding: 12px 24px;
    font-size: 14px;
  }

  .start__btn:nth-child(1) {
    margin-right: 0;
  }
  .start__btn:nth-child(2) {
    margin-top: 16px;
  }

  .footer__groups {
    justify-content: center;
  }

  .footer__group {
    width: auto;
    text-align: center;
    padding: 0 16px;
    align-items: center;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
}
